html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.calendar {
  margin: auto;
  width: 100% !important;
  /* height: 100% !important;  */
  background: red;
}

.calendar .react-calendar__month-view__days {
  height: 350px !important;
  /* background: #000; */
}

.highlight {
  color: red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}